* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ddeefc;
    font-family: "Source Sans Pro", sans-serif;
}
.card-from {
    max-width: 570px;
    margin: auto;
    width: 100%;
}
.card-form__inner {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 10px;
    padding: 35px;
    padding-top: 180px;
}
.cart-label_number, .cart-label_holders, .cart-label_month, .card-label__cvv {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1a3b5d;
    width: 100%;
    display: block;
    user-select: none;
}
.cardNumber, .cardHolders, .cardMonth, .cardYear, .card-cod__cvv {
    width: 94%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
}
.cardNumber:hover, 
.cardNumber:focus,
.cardHolders:hover, 
.cardHolders:focus,
.cardMonth:hover,
.cardMonth:focus,
.cardYear:hover,
.cardYear:focus,
.card-cod__cvv:hover,
.card-cod__cvv:focus  {
    border-color: #3d9cff;
}
.cart-input_number, .cart-input_holders {
    margin-bottom: 20px;
}
.card-form__group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.cardMonth, .cardYear {
    width: 30%;
    -webkit-appearance: none;
    background-image: url('./img/загруженное.png');
    background-size: 12px;
    background-position: 90% center;
    background-repeat: no-repeat;
    padding-right: 30px;
    margin-right: 15px;
}
.card-input_cvv {
    width: 27%;
    padding-right: 25px;
}
.card-form__button {
    width: 100%;
    height: 55px;
    background: #2364d2;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}
.card-cod__cvv {
    transform: translateY(-23px);
}
.card-label__cvv {
    transform: translateY(-23px);
}
.cardYear {
    margin-right: 50px;
}









.card-item {
    max-width: 430px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: -130px;
    margin-top: 50px;
}
.card-item__side {
    border: 1px solid black;
    background: url('./img/Nature_Flowers_Wet_blue_rose_035114_.jpg') no-repeat;
    background-size: cover;
    padding: 25px 15px;
    border-radius: 15px;
}
.card-item__logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.card-item__numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 0 10px 0 10px;
}
.card-item__number {
    display: flex;
    overflow: hidden;
    width: 100%;
    padding: 5px;
}
.card-item__numberItem {
    font-size: 25px;
    width: 16px;
    color: #fff;
    margin: auto;
}
.card-item__content {
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.card-item__holder {
    opacity: 0.7;
    font-size: 13px;
    margin-bottom: 6px;
}
.card-item__name {
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    max-width: 283px;
}
.card-item__dateItem {
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 6px;
    width: 100%;
}
.card-item__dateItem span {
    font-size: 22px;
    width: 22px;
    display: inline-block;
}
.card-item__dateTitle {
    display: block;
}
.cardMonth_group {
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.card-item__numberItem:nth-child(4),
.card-item__numberItem:nth-child(8),
.card-item__numberItem:nth-child(12) {
    margin-right: 20px;
}
.active {
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    border-radius: 6px; 
    box-sizing: border-box;
}
.card-item__info {
    width: 100%;
    padding: 5px;
}
.card-item__date {
    padding: 5px;
}
/* .front {
    transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
} */
.back {
    transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
    z-index: 2;
    padding: 0;
    height: 100%;
}
.card-item__side_1 {
    border: 1px solid black;
    background: url('./img/blue-rose-full-screen-high-definition-desktop-wallpaper-background-photos-cool-artworks-iphone-wallpaper-1600x1200.jpg') no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 100%;
}
.card-item__band {
    background: black;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}
.card-item__cvv {
    text-align: right;
    position: relative;
    z-index: 2;
    padding: 15px;
}
.card-item__cvvTitle {
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
}
.card-item__cvvBand {
    height: 45px;
    background: #fff;
    margin-bottom: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: #1a3b5d;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);
}
.card-item__cvv .card-item__type {
    opacity: 0.7;
}
.card-item__typeImg {
    width: 85px;
    height: 45px;
    object-fit: contain;
    max-height: 100%;
    object-position: top right;
}